---

---

<div class="@container h-full cursor-pointer">
  <div class="px-8 py-4 h-full flex flex-col justify-between">
    <div class="relative flex-1 flex items-center">
      <div>
        <p
          class="font-bold absolute -top-1 -left-5 @[300px]:text-2xl @[500px]:text-4xl @[700px]:text-5xl"
        >
          "
        </p>
        <p
          class="@[300px]:text-base @[500px]:text-xl @[700px]:text-2xl @[900px]:text-3xl leading-relaxed"
        >
          I have worked with a number of brilliant individuals over my career, from self-made
          billionaires to Nobel Prize-winning paper co-authors to '100x' engineers. Alex Godfrey is
          one of the brightest and most capable humans of them all.
        </p>
      </div>
    </div>
    <p class="text-right font-mono @[300px]:text-sm @[500px]:text-base @[700px]:text-lg">
      Benjamin Liker, Altum Labs, 2023
    </p>
  </div>
</div>
